#chatroom-container {
	width: 1000px;
	height: 850px;
	background: green;
	margin: 0px auto;
	border: 1px solid #000;
	border-radius: 10px;
}
#chatroom {
	width: 98%;
	height: 98%;
	background: #ddd;
	margin: 1%;
	border: 1px solid transparent;
}
#partner-webcam-container {
	width: 700px;
	height: 500px;
	background: #000;
	margin: 10px;
}
#partner-webcam {
	margin-top: 10px;
}
#side {
	width: 250px;
	height: 96%;
	float: right;
	margin: 10px;
}
.btn-end-chat {
	display: none;
}
#my-webcam-container {
	width: 100%;
	height: 200px;
	background: #000;
}
#my-webcam {
	width: 100%;
	height: 100%;
}
#members {
	width: 100%;
	height: 550px;
	background: #fff;
	margin-top: 8%;
	padding: 5px;
}
#members ul {
	-webkit-padding-start: 0;
	padding: 0;
  list-style-type: none;
}
#members ul li {
	padding: 1px;
}
#member-list {
	width: 100%;
	height: 500px;
}
#member-list .member-image {
	width: 50px;
	height: 40px;
	overflow: hidden;
	background: #000;
	float: left;
}
#member-list .member-image img {
	max-width: 50px;
	max-height: 40px;
}
.btn-call {
	float: right;
	margin: 10px;
}
.btn-leave {
	float: right;
	margin: 5px;
}
#chatbox-container {
	width: 700px;
	height: 790px;
	background: #fff;
	margin: 2% 1%;
	border: 1px solid transparent;
}
#conversations {
	width: 99%;
	height: 700px;
	background: #ddd;
	margin: 1% auto;
	padding: 10px;
	overflow-y: auto;
}
#conversations .message {
	background: #fff;
	border-radius: 2px;
	margin: 3px 1px;
	padding: 3px;
}
#chatbox-input {
	width: 99%;
	height: 60px;
	background: #ddd;
	margin: 1% auto;
	border: 1px solid transparent;
}
#chatbox-input textarea {
	margin: 2px;
	width: 85%;
	height: 50px; 
}
#chatbox-input #send {
	float: right;
	margin: 10px;
}