#chatroom-container {
	width: 1000px;
	height: 850px;
	background: green;
	margin: 0px auto;
	border: 1px solid #000;
	border-radius: 10px;
}
#chatroom {
	width: 98%;
	height: 98%;
	background: #ddd;
	margin: 1%;
	border: 1px solid transparent;
}
#group-webcam-container {
	width: 700px;
	height: 500px;
	border: 1px solid #f9f9f9;
	padding: 5px;
	margin: 10px;
}
#group-webcam-container .video {
	width: 200px;
	height: 150px;
	margin: 5px;
	background: #000;
}
#side {
	width: 250px;
	height: 96%;
	float: right;
	margin: 10px;
}
#remaining-time {
	background: #fff;
	font-weight: bold;
	padding: 5px;
}
#my-webcam-container {
	width: 100%;
	height: 200px;
	background: #000;
}
#my-webcam {
	width: 100%;
	height: 100%;
}
#members {
	width: 100%;
	height: 550px;
	background: #fff;
	margin-top: 8%;
	padding: 5px;
}
#members ul {
	-webkit-padding-start: 0;
	padding: 0;
  list-style-type: none;
}
.status-ready {
	float: right;
	margin: 8px;
}
#members ul li {
	padding: 1px;
}
#member-list {
	width: 100%;
	height: 500px;
}
#member-list .member-image {
	width: 50px;
	height: 40px;
	overflow: hidden;
	background: #000;
	float: left;
}
#member-list .member-image img {
	max-width: 50px;
	max-height: 40px;
}
.btn-call {
	float: right;
	margin: 10px;
}
.btn-leave {
	float: right;
	margin: 5px;
}
#chatbox-contaner {
	width: 700px;
	height: 280px;
	background: #fff;
	margin: 2% 1%;
	border: 1px solid transparent;
}
#conversations {
	width: 99%;
	height: 200px;
	background: #ddd;
	margin: 1% auto;
}
#chatbox-input {
	width: 99%;
	height: 60px;
	background: #ddd;
	margin: 1% auto;
	border: 1px solid transparent;
}
#chatbox-input textarea {
	margin: 2px;
	width: 85%;
	height: 50px; 
}
#chatbox-input #send {
	float: right;
	margin: 10px;
}