#chatroom-container {
	width: 960px;
	height: 850px;
	background: green;
	margin: 0px auto;
	border: 1px solid #000;
	border-radius: 10px;
}
#chatroom {
	width: 98%;
	height: 98%;
	background: #ddd;
	margin: 1%;
	border: 1px solid transparent;
}
#partner-webcam-container {
	width: 650px;
	height: 490px;
	background: #000;
	margin: 10px;
	resize: both;
}
#partner-webcam {
	width: 650px;
}
#partner-webcam-container:before {
  font-family: 'fontAwesome';
  content: '\f07d';
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
  display: block;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
  line-height: 24px;
  width: 24px;
  height: 24px;
  margin: auto;
  color: #fff;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  z-index: 1;
}
#side {
	width: 250px;
	height: 96%;
	float: right;
	margin: 10px;
}
#remaining-time-container {
	background: #fff;
	font-weight: bold;
	padding: 5px;
}
.btn-end-chat {
	display: none;
}
#my-webcam-container {
	width: 100%;
	height: 200px;
	background: #000;
}
#my-webcam {
	width: 100%;
	height: 100%;
}
#members {
	width: 100%;
	height: 550px;
	background: #fff;
	margin-top: 8%;
	padding: 5px;
}
#members ul {
	-webkit-padding-start: 0;
	padding: 0;
  list-style-type: none;
}
#members ul li {
	padding: 1px;
}
#member-list {
	width: 100%;
	height: 500px;
}
#member-list .member-image {
	width: 50px;
	height: 40px;
	overflow: hidden;
	background: #000;
	float: left;
}
#member-list .member-image img {
	max-width: 50px;
	max-height: 40px;
}
.btn-call {
	float: right;
	margin: 10px;
}
#chatbox-container {
	width: 650px;
	height: 300px;
	background: #fff;
	margin: 1%;
	border: 1px solid transparent;
}
#conversations {
	width: 99%;
	height: 200px;
	background: #ddd;
	margin: 1% auto;
	padding: 10px;
	overflow-y: auto;
	font: 12px "Trebucher MS",sans-serif;
}
#conversations img {
	width: 50px;
}
.reconnecting {
	display: none;
}
#conversations .message {
	background: #fff;
	border-radius: 2px;
	margin: 3px 1px;
	padding: 3px;
}
#chatbox-input {
	width: 99%;
	height: 60px;
	background: #ddd;
	margin: 1% auto;
	border: 1px solid transparent;
}
#chatbox-input textarea {
	margin: 2px;
	width: 85%;
	height: 50px; 
}
#chatbox-input #send {
	float: right;
	margin: 10px;
}