#chatroom-container {
	width: 960px;
	height: 850px;
	background: green;
	margin: 0px auto;
	border: 1px solid #000;
	border-radius: 10px;
}
#chatroom {
	width: 98%;
	height: 98%;
	background: #ddd;
	margin: 1%;
	border: 1px solid transparent;
}
#partner-webcam-container {
	width: 650px;
	height: 200px;
	background: #000;
	margin: 10px;
	resize: both;
}
#partner-webcam {
	height: 200px;
}
#partner-webcam-container:before {
  font-family: 'fontAwesome';
  content: '\f07d';
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
  display: block;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
  line-height: 24px;
  width: 24px;
  height: 24px;
  margin: auto;
  color: #fff;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  z-index: 1;
}
#side {
	width: 250px;
	height: 96%;
	float: right;
	margin: 10px;
}
.btn-end-chat {
	display: none;
}
#my-webcam-container {
	width: 100%;
	height: 220px;
	background: #000;
}
#my-webcam-container div {
	width: 100%;
	height: 200px;
}
#my-webcam {
	width: 100%;
}
#members {
	width: 100%;
	height: 550px;
	background: #fff;
	margin-top: 8%;
	padding: 5px;
}
#members ul {
	-webkit-padding-start: 0;
	padding: 0;
  list-style-type: none;
}
#members ul li {
	padding: 1px;
}
#member-list {
	width: 100%;
	height: 500px;
}
#member-list .member-image {
	width: 50px;
	height: 40px;
	overflow: hidden;
	background: #000;
	float: left;
}
#member-list .member-image img {
	max-width: 50px;
	max-height: 40px;
}
.btn-call {
	float: right;
	margin: 10px;
}
#chatbox-container {
	width: 650px;
	height: 590px;
	background: #fff;
	margin: 1%;
	border: 1px solid transparent;
}
#conversations {
	width: 99%;
	height: 515px;
	background: #ddd;
	margin: 1% auto;
	padding: 3px;
	overflow-y: auto;
	font: 12px "Trebucher MS",sans-serif;
}
#conversations img {
	width: 50px;
}
.reconnecting {
	display: none;
}
#conversations .message {
	border-radius: 2px;
	margin: 3px 1px;
	padding: 3px;
}
#chatbox-input {
	width: 99%;
	height: 60px;
	background: #ddd;
	margin: 1% auto;
	border: 1px solid transparent;
}
#chatbox-input textarea {
	margin: 2px;
	width: 85%;
	height: 50px; 
}
#chatbox-input #send {
	float: right;
	margin: 10px;
}
#video-controls {
	width: 100%;
	background: #fff;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #ddd
}
#video-controls a {
  width: 30px;
  height: 30px;
  transition: all 0.2s linear;
  border-radius: 100%;
}
#video-controls a.onn {
  background: #16a9b2;
}
#video-controls a.off {
  background: #000;
}
#video-controls a.btn-disable-video.onn > div {
	background: url('../img/enable_video.png') no-repeat center center;
	width: 25px;
	height: 25px;
	margin-left: -3px;
}
#video-controls a.btn-disable-video.off > div {
	background: url('../img/disable_video.png') no-repeat center center;
	width: 25px;
	height: 25px;
	margin-left: -3px;
}
#remaining-time {
	float: right;
	margin: 3px;
	font-weight: bold;
}
#remaining-time:before {
  display: inline-block;
  vertical-align: middle;
  font-family: FontAwesome;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  margin-right: 3px;
  content: '\f017';
}
#buttons {
	width: 100%;
	background: #fff;
	margin-top: 10px;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #ddd
}