#header {
	width: 100%;
	height: 40px;
	background: #1ad2ff;
	border: 1px solid transparent;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
}
#chatroom-container {
	max-width: 1000px;
	height: 850px;
	margin: 60px auto;
}
#chatroom {
	width: 100%;
	height: 100%;
	background: #ddd;
	border: 1px solid transparent;
	border-radius: 10px;
}
#partner-webcam-container {
	width: 700px;
	height: 200px;
	background: #000;
	margin: 10px;
	resize: both;
}
#partner-webcam {
	height: 200px;
}
#partner-webcam-container:before {
  font-family: 'fontAwesome';
  content: '\f07d';
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
  display: block;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
  line-height: 24px;
  width: 24px;
  height: 24px;
  margin: auto;
  color: #fff;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  z-index: 1;
}
#side {
	width: 250px;
	height: 96%;
	float: right;
	margin: 10px;
}
.btn-end-chat {
	display: none;
}
#my-webcam-container {
	width: 100%;
	height: 200px;
	background: #000;
}
#my-webcam {
	width: 100%;
	margin-top: 5px;
}
#members {
	width: 100%;
	height: 550px;
	background: #fff;
	margin-top: 8%;
	padding: 5px;
}
#members ul {
	-webkit-padding-start: 0;
	padding: 0;
  list-style-type: none;
}
#members ul li {
	padding: 1px;
}
#member-list {
	width: 100%;
	height: 500px;
}
#member-list .member-image {
	width: 50px;
	height: 40px;
	overflow: hidden;
	background: #000;
	float: left;
}
#member-list .member-image img {
	max-width: 50px;
	max-height: 40px;
}
.btn-call {
	float: right;
	margin: 10px;
}
#chatbox-container {
	width: 700px;
	height: 590px;
	background: #fff;
	margin: 1%;
	border: 1px solid transparent;
}
#conversations {
	width: 99%;
	height: 515px;
	background: #ddd;
	margin: 1% auto;
	padding: 3px;
	overflow-y: auto;
	font: 12px "Trebucher MS",sans-serif;
}
#conversations img {
	width: 50px;
}
.reconnecting {
	display: none;
}
#conversations .message {
	border-radius: 2px;
	margin: 3px 1px;
}
#chatbox-input {
	width: 99%;
	height: 60px;
	background: #ddd;
	margin: 1% auto;
	border: 1px solid transparent;
}
#chatbox-input #txt-message {
	margin: 2px;
	width: 85%;
	height: 50px; 
}
#chatbox-input #send {
	float: right;
	margin: 10px;
}
.btn-leave {
	display: inline-block;
  width: 90px;
  height: 28px;
  line-height: 0;
  border-radius: 2px;
  font-size: 1.4rem;
  transition: all 0.2s linear;
  float: right;
  background: #ccc !important;
  margin: 3px;
}
.btn.disable {
  border: #ccc solid 1px !important;
  background: #ccc !important;
  color: #fff !important;
  box-shadow: none !important;
  cursor: default !important;
}
.btn-leave::before {
  display: inline-block;
  vertical-align: middle;
  content: '\f08b';
  font-family: FontAwesome;
  font-size: 18px;
  font-size: 1.8rem;
  color: #fff;
  line-height: 1;
  margin-right: 2px;
}
#buttons {
	width: 100%;
	background: #fff;
	height: 45px;
	width: 99%;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #ddd
}
#buttons a {
  width: 35px;
  height: 35px;
  transition: all 0.2s linear;
  border-radius: 100%;
}
a.btn-default.onn {
  background: #16a9b2;
}
a.btn-default.off {  background: #000;
}
a.btn-default.btn-disable-video.onn > div {
	background: url('../img/enable_video.png') no-repeat center center;
	width: 30px;
	height: 30px;
	margin-left: -3px;
}
a.btn-default.btn-disable-video.off > div {
	background: url('../img/disable_video.png') no-repeat center center;
	width: 30px;
	height: 30px;
	margin-left: -3px;
}
a.btn-default.btn-start-chat {
	float: right;
}
a.btn-default.btn-sound-control:hover {
	background: #555;
}
a.btn-default.btn-sound-control > div {
	background: url('../img/ic_sound_small_on.png') no-repeat center center;
	width: 30px;
	height: 30px;
	margin-left: -3px;
}
a.btn-default.btn-start-chat > div {
	background: url('../img/start_chat.png') no-repeat center center;
	background-size: 30px 30px;
	width: 30px;
	height: 30px;
	margin-left: -3px;
}
#remaining-time-container {
	width: 100px;
	margin: 5px auto;
}
#remaining-time {
	font-weight: bold;
	color: #fff;
}
#remaining-time:before {
  display: inline-block;
  vertical-align: middle;
  font-family: FontAwesome;
  font-size: 20px;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1;
  vertical-align: middle;
  margin-right: 3px;
  content: '\f017';
}
